:root {
    --guitar-neck-height: 30vh;
    --num-frets: 21;
}

body {
    background-color: rgb(188, 188, 220);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

}

.aboveNeckContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: var(--guitar-neck-height);
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / var(--num-frets));
    height: 100%;
    flex-grow: 1;
}

.legendNote {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: calc(100vh - 2*var(--guitar-neck-height));
}

.guitarNeck {
    background-color: black;
    height: var(--guitar-neck-height);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.guitarNeck.reverse {
    flex-direction: row-reverse;
    /* Reversed: right-to-left */
}

.guitarFret {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.guitarFret.markedFret {
    outline: thick double black;
}

.guitarNote {
    /* Floor of 100% divided by 6 */
    height: 16%;
    width: 100%;
    opacity: 0.25;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This will override more specific selectors like .selected.guitarNote */
.guitarNote:hover {
    opacity: 1 !important;
}

.guitarNote:hover::before {
    content: attr(data-note);
    text-align: center;
    font-size: 1rem;
}

/* Since this has higher selectivity, it will override the .guitarNote (and default hover) */
.selected.guitarNote {
    opacity: 0.75;
}

.noteA {
    background-color: red;
}

.noteASharp {
    background-color: rgb(255, 127, 0);
}

.noteB {
    background-color: rgb(255, 255, 0);
}

.noteC {
    background-color: rgb(127, 255, 0);
}

.noteCSharp {
    background-color: rgb(0, 255, 0);
}

.noteD {
    background-color: rgb(0, 255, 127);
}

.noteDSharp {
    background-color: rgb(0, 255, 255);
}

.noteE {
    background-color: rgb(0, 127, 255);
}

.noteF {
    background-color: rgb(0, 0, 255);
}

.noteFSharp {
    background-color: rgb(127, 0, 255);
}

.noteG {
    background-color: rgb(255, 0, 255);
}

.noteGSharp {
    background-color: rgb(255, 0, 127);
}